!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>chanyeol</title>
</head>
<body>
   <header>
       <h1> park Chanyeol : rapero principal de exo</h1>
   <img width="320" src="/imag/chanyeo.jpg" alt="">
   </header> 
   <h2>fuego</h2> 
   <p>
    rapero principal de la banda sur coreana exo, su voz se destaca por ser ronca, tiene como tematica el poder del fuego
   </p>
</body>
</html>