!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>chen</title>
</head>
<body>
   <header>
       <h1> kim jongdae : voz principal de exo</h1>
   <img width="320" src="/imag/chen.jpg" alt="">
   </header> 
   <h2>aire</h2> 
   <p>
    Chen en abril de 2019. Kim Jong-dae (Daejeon, Corea del Sur, 21 de septiembre de 1992), más conocido por su nombre artístico Chen (첸), es un cantautor y actor surcoreano. Es miembro de la boy band EXO y su subunidad EXO-CBX
   </p>
</body>
</html>