
!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>byun baekhyun</title>
</head>
<body>
   <header>
       <h1> byun bakehyun : la segunda voz principal de EXO/h1>
   <img width="320" src="/imag/baekhyun.jpg" alt="">
   </header> 
   <h2>luz</h2> 
   <p>
    Baekhyun nació el 6 de mayo de 1992 en Bucheon, Provincia de Gyeonggi, Corea del Sur. Él tiene un hermano llamado Byun Baek-beom que es siete años mayor que él
   </p>
</body>
</html>