!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Kai</title>
</head>
<body>
   <header>
       <h1> kim jong in : bailarin principal</h1>
   <img width="320" src="/imag/kai.jpg" alt="">
   </header> 
   <h2>teleportacion</h2> 
   <p>
    . Kai nació el 14 de enero de 1994, en Suncheon, provincia de Jeolla del Sur, Corea del Su
   </p>
</body>
</html>