!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>luhan</title>
</head>
<body>
   <header>
       <h1> Lu Han : ex integrante de exo</h1>
   <img width="320" src="/imag/luhan.jpg" alt="">
   </header> 
   <h2>airer</h2> 
   <p>
    Lù Hán, es un artista multifácetico más conocido como Luhan, es un cantante de mandopop, rapero, compositor y actor chino
   </p>
</body>
</html>