!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>scott</title>
</head>
<body>
   <header>
       <h1> scott : personaje principal de libro after</h1>
   <img width="320" src="/imag/scott.jpg" alt="">
   </header> 
   <h2>locura</h2> 
   <p>
    personaje principal del libro llamado after, su personalidad es lo mas llamativo por su forma de meterse en problemas
   </p>
</body>
</html>