!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>sehun</title>
</head>
<body>
   <header>
       <h1> Oh sehun :repero secundario de exo</h1>
   <img width="320" src="/imag/sehun.jpg" alt="">
   </header> 
   <h2>sehun</h2> 
   <p>
  es el integrante mas pequeño de exo, lo llaman el makne por ser el mas chico, tiene solo 27 años
   </p>
</body>
</html>