!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tessa</title>
</head>
<body>
   <header>
       <h1> tessa hyung :personaje de un libro</h1>
   <img width="320" src="/imag/tessapg" alt="">
   </header> 
   <h2>bondad</h2> 
   <p>
    es el personaje principal de la novela y libros after, se destaca por su personalidad tan ordenada y pacifica
   </p>
</body>
</html>