!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>zed</title>
</head>
<body>
   <header>
       <h1> zed : personaje de libro</h1>
   <img width="320" src="/imag/zed.jpg" alt="">
   </header> 
   <h2>agua</h2> 
   <p>
    personaje secundario dle libro after, se baso su personaje a uno de los integrantes de one direction 
   </p>
</body>
</html>